
.character-img {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 50%;
    border: white 5px solid;
}

.container {
    width: 80%;
}

.description {
    display: flex;
}

.character-text {
    margin: 0 30px;
}
